
@supports (grid-area:auto){
	.onethreewrapper {
		display: grid;
		& .leftOneThirdBlock {
		& img {
		}
	}
	& .rightTwoThirdsBlock {
	}
	@media (--content-query) {
		grid-template-columns: 50vw 45vw;
		grid-template-areas:
		"left right"
		"cta cta";
		grid-gap: 5vw;
		& .leftOneThirdBlock  {
			grid-area: right;
			margin-left: auto;
   		 	margin-right: 4vw;
    		margin-top: 4rem;
		}
		& .rightTwoThirdsBlock  {
			grid-area: left;
			padding: 0 5vw;
		}
		& .ctaButton {
grid-area: cta;
		}

	}
	}
}
